@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column; /* Added to stack the title above the slider */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1f1f1f;
  font-family: "Josefin Sans", sans-serif;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.container {
  max-width: 1200px;
  width: 95%;
  animation: fadeInFromTop 1s ease-in-out;
  cursor: pointer;
}

.slider-wrapper {
  position: relative;
  animation: fadeInFromBottom 1s ease-in-out;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #000000;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #efefef;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 0.3s, transform 0.3s;
}

.slider-wrapper .slide-button:hover {
  background: #bebebe;
  transform: translateY(-50%) scale(1.1);
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s, opacity 0.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.slider-wrapper .image-list .image-item:nth-child(4n+1) {
  animation-name: fadeInFromTop;
}

.slider-wrapper .image-list .image-item:nth-child(4n+2) {
  animation-name: fadeInFromBottom;
}

.slider-wrapper .image-list .image-item:nth-child(4n+3) {
  animation-name: fadeInFromLeft;
}

.slider-wrapper .image-list .image-item:nth-child(4n+4) {
  animation-name: fadeInFromRight;
}

.slider-wrapper .image-list .image-item:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
  transition: height 0.3s;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
  transition: height 0.3s, top 0.3s;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Title Bar Styles */
.page-title {
  color: #9b9797;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 70px; /* Adjust spacing as needed */
  font-size: 2.5rem; /* Adjust size as needed */
  animation: fadeInFromTop 1s ease-in-out;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
